<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    Flash notice: <br/>
                    {{ flash_message }}
                </div>
        {% endfor %}
    </body>

</html>
